<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Talent Economists Profiles</h1>
			<p class="lead"></p>
			<p class="lead">
				Certified Talent Economists are a select group of practioners across the world who have achieved mastery in Talent Economics as a discipline. The Certified Talent Economists listed below have undergone an in-depth learning, application and testing process, which gives them the skills to consult in the areas of talent management and talent strategy.
			</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<!-- Talent Economics Profiles -->
<%= render :partial => "ecprofiles/teprofiles" %>


<%= javascript_include_tag "jquery-1.10.2.min.js", "data-turbolinks-track" => true %>

<!-- OTHER JS --> 
<%= javascript_include_tag "superfish", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "retina.min", "data-turbolinks-track" => true %>

<%= javascript_include_tag "validate", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.placeholder", "data-turbolinks-track" => true %>
<%= javascript_include_tag "functions", "data-turbolinks-track" => true %>
<%= javascript_include_tag "classie", "data-turbolinks-track" => true %>

