<section id="login_bg">
<div  class="container">
<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div id="login">
			<p class="text-center">
				<h4>Enter Your Email</h4>
			</p>
			<hr>
			
			<%=form_tag  controller: "users", action: "useremail"  do |f|   %>
     			<div class="form-group">
					<%=text_field_tag 'email','', :class=> 'form-control', :placeholder => 'Email Address' %>
					<span class="input-icon"><i class=" icon-user"></i></span>
				</div>
				
				
				<%=submit_tag 'Submit', :class=> 'button_fullwidth' %>
			<%end %>
		</div>
	</div>
</div>
</div>
</section> <!-- End login -->


<%= javascript_include_tag "jquery-1.10.2.min.js", "data-turbolinks-track" => true %>

<!-- OTHER JS --> 
<%= javascript_include_tag "superfish", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "retina.min", "data-turbolinks-track" => true %>

<%= javascript_include_tag "validate", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.placeholder", "data-turbolinks-track" => true %>
<%= javascript_include_tag "functions", "data-turbolinks-track" => true %>
<%= javascript_include_tag "classie", "data-turbolinks-track" => true %>

