<section id="sub-header">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Learn Blog</h1>
			<p class="lead boxed ">Ex utamur fierent tacimates duis choro an</p>
			<p class="lead">
				Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. 
			</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">

<div class="container">

	 <div class="row">
     <div class="col-md-9">
     			<div class="post">
     				<a href="#" title="#"><img src="<%= getpath @article.photo_id unless @article.photo_id.nil?%>" alt="" class="img-responsive img-thumbnail"></a>
					<div class="post_info clearfix">
						<div class="post-left">
							<ul>
								<li><i class="icon-calendar-empty"></i>On <span><%= @article.created_at %></span></li>
							</ul>
						</div>
					</div>
					<h2><a href="#" title="#"><%= @article.title %></a></h2>
					<p>
						<%=raw @article.content %>
					</p>
				</div><!-- end post -->
            
              
                <hr>
     </div><!-- End col-md-8-->   
  
	
  </div>  <!-- End row-->    
</div><!-- End container -->
</section><!-- End main_content-->


<%= javascript_include_tag "jquery-1.10.2.min.js", "data-turbolinks-track" => true %>

<!-- OTHER JS --> 
<%= javascript_include_tag "superfish", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "retina.min", "data-turbolinks-track" => true %>

<%= javascript_include_tag "validate", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.placeholder", "data-turbolinks-track" => true %>
<%= javascript_include_tag "functions", "data-turbolinks-track" => true %>
<%= javascript_include_tag "classie", "data-turbolinks-track" => true %>

