<!-- Toggle Switch -->
	<%= stylesheet_link_tag    "jquery-switch", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag    "aero", media: "all", "data-turbolinks-track" => true %>

<%=render :partial => 'assessment/about_program' %>

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


	<div id="top-wizard">
		<strong>Progress </strong>
		<div id="progressbar"></div>
		<div class="shadow"></div>
	</div><!-- end top-wizard -->
    
	<%=render :partial => 'assessment/register' %>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->


<%= javascript_include_tag "jquery-1.10.2.min.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'jquery-ui-1.8.12.min.js', "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.wizard.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.validate.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.icheck.js", "data-turbolinks-track" => true %>

<!-- OTHER JS --> 
<%= javascript_include_tag "superfish.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap.min.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "retina.min.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "validate.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.placeholder.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "wizard_func.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "functions.js", "data-turbolinks-track" => true %>

<%= javascript_include_tag "classie.js", "data-turbolinks-track" => true %>

