<footer>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2><%= link_to "Take the PeopleLENS Assessment", root_url, :class=> 'footer_link' %></h2>
			<div id="message-newsletter"><span>Discover your talent Priorities</span></div>
		</div>
	</div>
</div>

<hr>

<div class="container" id="nav-footer">
	<div class="row text-left">
		<div class="col-md-3 col-sm-3">
			<ul>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Copyright</a></li>
				<li><a href="#">Contacts</a></li>
				<li><%= link_to "Articles and Blogs", blog_path %></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul>
				<li><%= link_to "Home", root_url %> </li>
                <li><%= link_to "About the Author", about_me_path %>  </li>
                <li><%= link_to "Keynotes", keynotes_path%> </li>
                <li><%= link_to "Consulting", consulting_path %> </li>
            </ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul>
				<li><%= link_to "Become a Talent Economist", testme_path %></li>
                <li><%= link_to "Talent Economist Profiles", profiles_path %></li>
                <li><%= link_to "Certified Talent Economist Login", signin_path %></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul id="follow_us">
				<li><a href="http://www.facebook.com/pages/PLGA-Consulting/185947294787310" target="_blank"><i class="icon-facebook"></i></a></li>
				<li><a href="https://twitter.com/PLGAConsulting" target="_blank"><i class="icon-twitter"></i></a></li>
				<li><a href="http://www.linkedin.com/company/plga-consulting" target="_blank"><i class=" icon-linkedin"></i></a></li>
			</ul>
			<ul>
				<li>Questions? <a href="#">questions@domain.com</a></li>
			</ul>
		</div><!-- End col-md-4 -->
	</div><!-- End row -->
</div>
<div id="copy_right">© 1998-2014</div>
</footer>